<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/photographies.css" />
  <title><%= title %></title>
</head>

<body>
  <%- await include("../partials/sidebar"); %>
  <div class="header"></div>
  <div class="call-for-action">
    <h1 class="capture">Capture Life's Beautiful Moments</h1>
    <p class="from">with</p>
    <p class="logo">Celestial Celebration</p>
    <!-- <img src="/assets/images/logo.png" alt /> -->
    <p class="para2">
      for latest update and stay connected with us visit our facebook page:
      <a href="https://www.youtube.com" target="_blank">
        <!-- <i class="fa-brands fa-youtube youtube-icon"></i>youtube -->
        <i class="fa-brands fa-facebook facebook-icon"></i> facebok
      </a>
    </p>
  </div>

  <!-- <div class="giftdiv">
    <div class="container">
      <div>
        <img class="gift" src="/assets/images/jonathan-borba-4TXhzYssRyY-unsplash.jpg" alt="" />
      </div>
      <div>
        <img class="gift2" src="/assets/images/joel-overbeck-fGPGd9PFd3w-unsplash.jpg" alt="" />
      </div>
      <div>
        <img class="gift" src="/assets/images/jonathan-borba-Ln0MXQGayYg-unsplash.jpg" alt="" />
      </div>
    </div>
  </div>

  <button class="btn">Order Now</button>
  <p class="para2">
    for latest update visit:
    <a href="https://www.youtube" target="_blank">
      <i class="fa-brands fa-youtube youtube-icon"></i>youtube
    </a>
  </p> -->

  <div class="giftdiv">
    <div class="container">
      <div>
        <img class="gift" src="/assets/images/p3.jpg" alt="" />
      </div>
      <div>
        <img class="gift2" src="/assets/images/pbg.jpg" alt="" />
      </div>
      <div>
        <img class="gift" src="/assets/images/p6.jpg" alt="" />
      </div>
    </div>
    <div class="info">
      <p>
        For Professional services or destination wedding photography, contact
        us via Facebook message.
      </p>
      <p>For more info : 018159281290</p>
      <p>Decor: Chittagong Eventz</p>
      <button class="btn">Order Now</button>
    </div>
  </div>

  <div class="giftdiv">
    <div class="container">
      <div>
        <img class="gift" src="/assets/images/logan-isbell-F5b7_OD4IMA-unsplash.jpg" alt="" />
      </div>
      <div>
        <img class="gift2" src="/assets/images/roberto-nickson-u6fDUe2x11g-unsplash.jpg" alt="" />
      </div>
      <div>
        <img class="gift" src="/assets/images/evelina-photography-hGQ5OS5co0U-unsplash.jpg" alt="" />
      </div>
    </div>
    <div class="info">
      <p>
        For Professional services or event photography, contact us via
        Facebook message.
      </p>
      <p>For more info : 018159281290</p>
      <p>Decor: BD Eventz</p>
      <button class="btn">Order Now</button>
    </div>
  </div>

  <%- await include("../partials/footer"); %>
</body>

</html>